<% if(success.length){ %>
<<<<<<< HEAD
  <div style="margin-top: 50px;text-align: center;" class="alert alert-success alert-dismissible fade show" role="alert">
    <p><%= success %></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
=======
    <div style="margin-top: 50px;text-align: center;" class="alert alert-success alert-dismissible fade show" role="alert">
      <p><%= success %></p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
>>>>>>> refs/remotes/origin/master

<% }  %>

<% if(error.length){ %>
<<<<<<< HEAD
  <div style="margin-top: 50px;text-align: center;" class="alert alert-danger alert-dismissible fade show" role="alert">
    <p><%= error %></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
=======
    <div style="margin-top: 50px;text-align: center;" class="alert alert-danger alert-dismissible fade show" role="alert">
      <p><%= error %></p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
>>>>>>> refs/remotes/origin/master

<% }  %>